#main-container {
  display: flex;
  justify-content: center;
  gap: 55px;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

#intro-container {
  display: flex;
  flex-direction: column;
  width: 350px;
}

#intro-container h2 {
  font-size: 48px;
  font-weight: 500;
  color: var(--main-blue);
}

#intro-paragraph-container {
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin-top: 15px;
}

#italic-text {
  font-style: italic;
}

#email-underline {
  text-decoration: underline;
}

#intro-icons-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}

#intro-icons-container img {
  width: 40px;
}

/********** Media queries **********/

@media screen and (min-width: 360px) {
  #main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  #intro-icons-container {
    justify-content: center;
  }

  #intro-img-container img {
    display: none;
  }
}

@media screen and (min-width: 640px) {
  #main-container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  #main-container {
    display: flex;
    flex-direction: row;
    text-align: left;
  }

  #intro-container h2 {
    font-size: 44px;
  }

  #intro-icons-container {
    display: flex;
    justify-content: left;
  }

  #intro-img-container img {
    display: unset;
  }
}

@media screen and (min-width: 1024px) {
  #main-container {
    display: flex;
    justify-content: center;
    gap: 55px;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  #intro-container {
    display: flex;
    flex-direction: column;
    width: 350px;
  }

  #intro-container h2 {
    font-size: 48px;
    font-weight: 500;
    color: var(--main-blue);
  }

  #intro-paragraph-container {
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin-top: 15px;
  }

  #italic-text {
    font-style: italic;
  }

  #email-underline {
    text-decoration: underline;
  }

  #intro-icons-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
  }

  #intro-icons-container img {
    width: 40px;
  }
}
