#footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  background-color: var(--off-white);
  height: 45px;
}

#footer {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 457px) {
  #footer-container {
    width: 611px;
  }
}

@media screen and (min-width: 640px) {
  #footer-container {
    width: 100%;
  }
}
