#footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  background-color: var(--off-white);
  height: 45px;
}

#footer {
  display: flex;
  justify-content: center;
}
